@import url(https://fonts.googleapis.com/css?family=Raleway);

html {
    scroll-behavior: smooth;
    min-height: 100%;
}

body {
    margin: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #030614;
    overflow-x: hidden;
}

p, h1, a {
    font-family: 'Smooch Sans', bold;
}

.title {
    flex-grow: 1;
    display: flex;
    justify-content: left;
}

.coresFundo {
    display: flex;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(45deg, #051962 25%, transparent 25%), linear-gradient(315deg, #051962 25%, transparent 25%), linear-gradient(45deg, transparent 24%, #081b63 25%, #081b63 45%, transparent 45%), linear-gradient(315deg, transparent 24%, #081b63 25%, #081b63 45%, transparent 45%);
    background-size: 6em 6em;
    background-color: #051962;
    opacity: 1
}

.controleNav {
    transition: 500ms;
    display: flex;
    position: sticky;
    justify-content: center;
    z-index: +1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}

.nav {
    height: 10vh;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(-45deg, #051962 0%, #041658 25%, #0a2791 51%, #051962 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: +1;
    opacity: 100%;
    transition: 400ms;
    padding-left: 40px;
    padding-right: 40px;
}

.nav.header {
    height: 7vh;
}

.menuOption {
    margin: 10px;
}

.textoNav {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    color: white;
    font-size: 40px;
    margin-left: 35px;
}

.divimagem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

a {
    display: flex;
    color: white;
    font-size: 4vh;
    text-decoration: none;
    text-align: center;
}

.tudo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
}

.imagem1 {
    transform: translateX(0vw);
}

.imagem2 {
    transform: translateX(0vw);
}   

.imagem3 {
    transform: translateX(0vw);
}

.imagens {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    position: absolute;
    background-color: transparent;
    transition: 500ms;
    margin-bottom: 10px;
    overflow: hidden;
    transition: 3000ms;
}

.imagens.move {
    transform: translateX(-100vw);
}

.containerX {
    display: flex;
    position: relative;
    justify-content: center;
    transform: translateY(0vh);
}

.containerX2 {
    display: flex;
    position: relative;
    justify-content: center;
    transform: translateY(2vh);
}

.arrowDiv {
    display: flex;
    position: relative;
    justify-content: center;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 10vw;
    filter: invert(100%) sepia(55%) saturate(2%) hue-rotate(112deg) brightness(108%) contrast(101%);
}

.reveal.active {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 100%;
}

.section {
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 10vw;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.divTitulo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0%;
    top: 20px;
    margin-bottom: 5vw;
    transition: 400ms ease-in-out;
}

.tituloDescricao {
    color: white;
    font-size: 5vw;
    margin: 0px;
}

.containerSobreMim {
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.divFoto {
    color: white;
}

.containerFoto {
    position: relative;
    height: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0%;
    top: 10vw;
    transition: 500ms;
}

.imagemDescricao {
    position: relative;
    height: 20vw;
    border-radius: 2vh;
    transition: 500ms;
}

.legenda {
    position: relative;
    color: white;
    display: flex;
    font-size: 1.5vw;
    margin: 0px;
}

.textoDescricao {
    position: relative;
    font-size: 2.2vw;
    max-width: 52vw;
    color: white;
    width: 150vw;
    left: 100px;
    transition: 500ms ease-in-out;
    opacity: 0%;
    margin: 0px;
}


.divTituloProjetos {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0%;
    top: 20px;
    margin-bottom: 5vw;
    transition: 400ms ease-in-out;
}

.divEmail {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
}

.textoEmail {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-right: 35px;
}

.projetos {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 5vw;
}

.projeto1 {
    position: relative;
    top: 10px;
    transition: 1200ms;
    opacity: 0%;
}

.projeto2 {
    position: relative;
    top: 10px;
    transition: 1200ms;
    opacity: 0%;
}

.imagemProjeto1 {
    width: 30vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: relative;
    border-radius: 2%;
    background-color: transparent;
    transition: 500ms;
}

.textoProjeto {
    color: white;
    font-size: 2vw;
    margin: 0px;
    margin-top: 0.5vw;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vw;
    width: 50vw;
    background-color: white;
    z-index: +1;
}

#loadOverlay {
    display: none;
}

.sectionContato {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65vh;
    margin-top: 5vw;
    margin-bottom: 10vw;
    background-color: #f1f1f1;
}


.containerContato {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.containerInfoContato {
    position: relative;
    justify-content: space-around;
    align-items:flex-start;
    flex-direction: column;
    top: 3vh;
    height: 25vw;
    width: 32vw;
    display: flex;
    opacity: 0%;
    transition: 500ms;
}

.containerFotoContato {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    top: 3vh;
    height: 25vw;
    width: 30vw;
    display: flex;
    opacity: 0%;
    transition: 500ms;
}

.imagemContato {
    position: relative;
    object-fit: cover;
    height: 20vw;
    width: 30vw;
    border-radius: 2vh;
    transition: 500ms;
}

.contatoTitulo {
    margin: 0px;
    font-size: 3vw;
}

.textoDiv {
    display: flex;
    flex-direction: row;
}

.logoTexto {
    height: 1.5vw;
    margin-right: 0.7vw;
}

.contatoTexto {
    margin: 0px;
    font-size: 1.5vw;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10vw;
}

.logo {
    position: relative;
    height: 2vw;
    transition: 500ms;
    border-radius: 100%;
}

@media (max-width : 667px) {
    a {
        font-size: 2vh;
    }

    .imagens { 
        height: 90vh;
    }
}